[Unit]
    Description=LCD Display controller service
    After=network.target

[Service]
    ExecStart=/usr/bin/lcdd
    SyslogIdentifier=lcdd
    User=root

[Install]
    WantedBy=multi-user.target