[Unit]
Description=Mount FunctionFS instance
Requires=usb-gadget-ffs.service
After=usb-gadget-ffs.service
Before=run-ffs_mmlcd.mount

[Mount]
# "device" name (FunctionFS instance name)
What=mmlcd
Where=/run/ffs_mmlcdx
Type=functionfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=usb-gadget.target